body {
  font-family: 'Lato', Helvetica, Verdana, sans-serif;
  margin-top: 50px;
}

h1, h2 {
  text-align: center;
}

a.resume {
  text-align: center;
  display: block;
  color: #000000;
  font-weight: bold;
}

ul.external {
  text-align: center;
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
}

ul.external li {
  display: inline-block;
  margin-right: 20px;
}

ul.external li:last-child {
  margin-right: 0;
}

.external a {
  color: #b5b5b5;
}
.external a:hover {
  color: #000000;
}
